@model AZUS_Transport_Website.Models.Applications
<meta charset="utf-8">
<div>
    @using (Html.BeginForm(@*"Accept", "Home",
        FormMethod.Post, new { enctype = "multipart/form-data" }*@))
{
@Html.AntiForgeryToken()
if (ViewBag.statusID == "3")
{
    @Html.EditorFor(model => model.DirectorStatusDoneID, new { htmlAttributes = new { @Value = "1", @type = "hidden" } })
    <input type="submit" value="Принять" class="button" />
}

if (ViewBag.statusID == "4")
{
    @Html.EditorFor(model => model.EconomistStatusDoneID, new { htmlAttributes = new { @Value = "1", @type = "hidden" } })
    <div>Шифр производственных затрат</div>
    @Html.EditorFor(model => model.CPC, new { htmlAttributes = new { @placeholder = "ШПЗ" } })
    @Html.ValidationMessageFor(model => model.CPC, " ", new { @class = "validation-text" })

    @Html.ActionLink("Принять", "Accept", "Home", new { id = Model.Id },
                          new { @class = "viewDialog", data_dialog_title = "Принять заявку № " + Model.Id + "?" })



    @*<input type="submit" value="Принять" class="viewDialog" data_dialog_title="Принять заявку № " />*@
}
if (ViewBag.statusID == "6")
{
    @Html.EditorFor(model => model.DepartmentStatusDoneID, new { htmlAttributes = new { @Value = "1", @type = "hidden" } })
    <input type="submit" value="Принять" class="button" />
}
if (ViewBag.statusID == "5")
{
    @Html.EditorFor(model => model.DispatcherNIIAR_StatusDoneID, new { htmlAttributes = new { @Value = "1", @type = "hidden" } })
    <input type="submit" value="Принять" class="button" />
}
if (ViewBag.statusID == "7")
{
    @Html.EditorFor(model => model.DispatcherATA_StatusDoneID, new { htmlAttributes = new { @Value = "4", @type = "hidden" } })
    <input type="submit" value="Исполнено" class="button" />
}

}
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>


@*Диалоговые окна и CRUD-интерфейс*@
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
@*Диалоговые окна и CRUD-интерфейс*@

<script>
    @* Диалоговые окна и CRUD - интерфейс *@
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();

            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    });
    @* Диалоговые окна и CRUD - интерфейс *@</script>

<style>
    .button {
        width: 250px;
        height: 35px;
        border: none;
        border: solid 2px #240fdc;
        border-radius: 5px;
        background: #240fdc;
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 20px 0px 0px 5px;
    }

    /*если поля не заполнены, отображение красным цветом*/
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }

    .validation-text {
        font-size: 75%;
        font-weight: 100;
    }
    /*если поля не заполнены, отображение красным цветом*/

</style>