@model AZUS_Transport_Website.Models.Applications
<div>
    @using (Html.BeginForm(@*"Accept", "Home",
        FormMethod.Post, new { enctype = "multipart/form-data" }*@))
{
@Html.AntiForgeryToken()


if (ViewBag.statusID == "3")
{
    @Html.EditorFor(model => model.DirectorStatusDoneID, new { htmlAttributes = new { @Value = "2", @type = "hidden" } })
    <input type="submit" value="Отклонить" class="button" />
}

if (ViewBag.statusID == "4")
{
    @Html.EditorFor(model => model.EconomistStatusDoneID, new { htmlAttributes = new { @Value = "2", @type = "hidden" } })
    <input type="submit" value="Отклонить" class="button" />
}
if (ViewBag.statusID == "6")
{
    @Html.EditorFor(model => model.DepartmentStatusDoneID, new { htmlAttributes = new { @Value = "2", @type = "hidden" } })
    <input type="submit" value="Отклонить" class="button" />
}
if (ViewBag.statusID == "5")
{
    @Html.EditorFor(model => model.DispatcherNIIAR_StatusDoneID, new { htmlAttributes = new { @Value = "2", @type = "hidden" } })
    <input type="submit" value="Отклонить" class="button" />
}
if (ViewBag.statusID == "7")
{
    @Html.EditorFor(model => model.DispatcherATA_StatusDoneID, new { htmlAttributes = new { @Value = "5", @type = "hidden" } })
    <input type="submit" value="Не исполнено" class="button" />
}
}
</div>


<style>
    .button {
        width: 250px;
        height: 35px;
        border: none;
        border: solid 2px #240fdc;
        border-radius: 5px;
        background: rgba(255, 255, 255,0);
        font-size: 20px;
        text-align: center;
        margin: 20px 0px 0px 5px;
    }

</style>
