@model AZUS_Transport_Website.Models.Users
@{
    ViewBag.Title = "Восстановление доступа";
}

<div class="userNew">
    <img src="/Content/Images/Cars.png" width=300px>
    <h2>Восстановление доступа</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-text" })
    @Html.ValidationSummary(true, "", new { @class = "validationSummary-text" })

    if (TempData["message"] != null)
    {
        <div class="message">
            @TempData["message"]
        </div>
    }
    <div class="frames">
        <label class="indent___">Отправить логин и пароль на почту</label>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "label-recover", @placeholder = "petrov1990@niiar.ru", maxlength = "50" } })
    </div>
    <div class="label-login">@Html.ActionLink("← Войти", "Login", "Account")</div>
    <input type="submit" value="Восстановить" class="recover" />

}

<style>
    .userNew h2 {
        margin: 10px 0px 0px 380px;
    }

    .userNew img {
        margin: 10px 0px 0px 400px;
    }

    .indent___ {
        font-size: 80%;
        font-weight: 100;
    }

    .frames {
        font-size: 150%;
        border-radius: 5px;
        margin: 0px 0px 0px 400px;
        padding: 0px 0px 0px 10px;
        color: transparent;
        background: #666666;
        color: #333333;
        background: #FFFFFF;
        /*text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);*/ /*тень от букв*/
        color: #333333;
        background: #FFFFFF;
        width: 305px;
        height: 100px; /* Размеры */
        /*background: #f8f8a6;*/ /*Цвет фона */
        outline: 2px solid #000; /* Чёрная рамка */
        border: 3px solid #fff; /* Белая рамка*/
        border-radius: 10px; /*Радиус скругления */
    }

    .label-login {
        padding: 10px 0px 0px 400px;
        font-size: 120%;
    }

    .recover {
        border: none;
        outline: 0;
        padding: 10px;
        color: #fff;
        background-color: #240fdc;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        text-decoration: none;
        width: 150px;
        margin: 10px 0px 0px 490px;
    }

    .label-recover {
        height: 34px;
        width: 280px;
        font-size: 14px;
    }


    /*если поля не заполнены, отображение красным цветом*/
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }

    .validation-text {
        font-size: 120%;
        font-weight: 100;
        margin: 10px 0px 0px 400px;
    }
    /*если поля не заполнены, отображение красным цветом*/

    .validationSummary-text {
        font-size: 120%;
        font-weight: 100;
        margin: 10px 0px 0px 360px
    }

    .message {
        font-size: 120%;
        font-weight: 100;
        color: #f00;
        margin: 10px 0px 10px 200px;
    }

</style>
